services:
  aerospike-db:
    image: aerospike/aerospike-server-enterprise:8.0.0.7
    container_name: aerospike-db
    healthcheck:
      test: ["CMD", "asinfo", "-p", "3000", "-v", "build"]
      interval: 5s
      timeout: 20s
      retries: 4
    networks:
      - asgraph_net
    ports:
      - "3000-3002:3000-3002"
  aerospike-graph-service:
    image: ghcr.io/citrusleaf/firefly:3.1.0-rc2
    container_name: asgraph-service
    depends_on:
      aerospike-db:
        condition: service_healthy
    volumes:
      -  ./data:/opt/data
      -  ./secrets:/opt/secrets/
    environment:
      - aerospike.client.namespace=test
      - aerospike.client.host=aerospike-db
      - aerospike.graph.index.vertex.label.enabled=true
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:9090/healthcheck"]
      interval: 5s
      timeout: 10s
      retries: 4
    networks:
      - asgraph_net
    ports:
      - "8182:8182"
      - "9090:9090"
networks:
  asgraph_net:
    name: asgraph_net
